<h1></h1>
<div class="row">
	<div class="col-sm-1 text-right">
		<small>发信人：</small>
	</div>
	<div class="col-sm-3">
		<label><%= @message.from_user.username %></label>
	</div>
</div>
<div class="row">
	<div class="col-sm-1 text-right">
		<small>收信人：</small>
	</div>
	<div class="col-sm-3">
		<label><%= @message.receive_user.username %></label>
	</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center"><strong><%= @message.title %></strong></div>
  <div class="panel-body">
    <%= @message.body %>
  </div>
</div>

<%= render 'send_message' %>
