<table class="table table-striped table-bordered text-center">
	<thead>
		<tr>
			<th class="text-center">编号</th>
			<th class="text-center">题目</th>
			<th class="text-center">提交者</th>
			<th class="text-center">状态</th>
			<th class="text-center">用时</th>
			<th class="text-center">内存</th>
			<th class="text-center">代码长度</th>
			<th class="text-center">语言</th>
			<th class="text-center">提交时间</th>
		</tr>
	</thead>
	<tbody>
		<% @submissions.each do |submission| %>
			<tr>
				<td><%= link_to submission.id, submission_show_path(@current_user.current_course,submission) %></td>
				<td><%= link_to submission.problem.name, problem_show_path(@current_user.current_course,submission.problem) %></td>
				<td><%= link_to submission.user_course_ship.user.username, user_path(submission.user_course_ship.user) %></td>
				<td><%= submission.status.name %></td>
				<td><%= friendly_time(submission.time) %></td>
				<td><%= friendly_memory(submission.memory) %></td>
				<td><%= friendly_memory(submission.source_length,0) %></td>
				<td><%= submission.language.name %></td>
				<td><%= format_time(submission.created_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
