<tr>
	<td><%= link_to "##{status.id}", status_single_path(status) %></td>
	<td><%= link_to "##{status.problem.id}. #{status.problem.title}", problems_single_path(status.problem) %></td>
	<td><%= status.user.username %></td>
	<td><%= status.score %></td>
	<td><%= status.language.title %></td>
	<td><small><%= display_friendly_time(status.time) %></small></td>
	<td><small><%= display_friendly_memory(status.memory) %></small></td>
	<td><small><%= display_friendly_memory(status.size) %></small></td>
	<td><small><%= display_friendly_datetime(status.created_at) %></small></td>
	<% if status.task == false %>
		<td><small>等待评测</small></td>
	<% elsif status.finish == false%>
		<td><small>评测中</small></td>
	<% elsif @current_user != nil && @current_user.admin %>
		<td><small><%= display_friendly_datetime(status.updated_at) %></small></td>
	<% else %>
		<td><small><%= link_to display_friendly_datetime(status.updated_at), status_rejudge_path(status) %></small></td>
	<% end %>
</tr>
