<h1></h1>
<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">主页</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if @current_user != nil %>
				<!-- 左边 -->
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.current_course.name %></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to '列表',course_list_path %></li>
							<li><%= link_to '我的课程列表', course_my_list_path %></li>
							<li class="divider"></li>
							<% if @current_user.courses.size <= 10 %>
								<% @current_user.courses.each do |course| %>
									<% if @current_user.current_course == course%>
										<li class="active"><%= link_to course.name, course_choose_path(course), method: :post %></li>
									<% else %>
										<li><%= link_to course.name, course_choose_path(course), method: :post %></li>
									<% end %>
								<% end %>
							<% else %>
								<li class="active"><%= link_to @current_user.current_course.name, course_choose_path(@current_user.current_course), method: :post %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "题目", problem_list_path(@current_user.current_course) %></li>
					<li><%= link_to "提交记录", submission_list_path(@current_user.current_course) %></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			<% end %>
			<!-- 右边 -->
			<ul class="nav navbar-nav navbar-right">
				<% if @current_user == nil %>
					<li><%= link_to '登录', user_login_path %></li>
					<li><%= link_to '注册', user_register_path %></li>
				<% else %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.username %><sup class="text-info"><%= @current_user.receive_messages.notread.count if @current_user.receive_messages.notread.count != 0 %></sup></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to '我的资料', user_my_info_path %></li>
							<li><%= link_to '修改资料', user_modify_path %></li>
							<li><%= link_to "我的消息<sup class=\"text-info\">#{@current_user.receive_messages.notread.count}</sup>".html_safe, user_messages_path %></li>
							<li class="divider"></li>
							<li><%= link_to '退出', user_logout_path %></li>
						</ul>
					</li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

