<h1></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>题目名称</th>
			<th>通过的人数</th>
			<th>通过的次数</th>
			<th>提交的次数</th>
		</tr>
	</thead>
	<tbody>
		<% @course_problem_ships.each do |course_problem_ship| %>
			<tr>
				<td><%= link_to course_problem_ship.problem.name, problem_show_path(course_problem_ship.course,course_problem_ship.problem) %></td>
				<td><%= course_problem_ship.statistic.solved.size %></td>
				<td><%= course_problem_ship.statistic.accepted.size %></td>
				<td><%= course_problem_ship.statistic.submissions.size %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="text-center">
	<%= will_paginate @course_problem_ships, renderer: BootstrapPagination::Rails %>
</div>
