<h1></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>编号</th>
			<th>课程名称</th>
			<th>课程创始者</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
			<% if @current_user != nil && @current_user.current_course == course %>
				<tr class="success">
			<% else %>
				<tr>
			<% end %>
				<td><%= course.id %></td>
				<td><%= link_to course.name, course_path(course) %></td>
				<td><%= link_to course.user.username, user_path(course.user) %></td>
				<td><%= button_to '选择',course_choose_path(course), class: "btn btn-default" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="text-center">
	<%= will_paginate @courses, renderer: BootstrapPagination::Rails %>
</div>
