<h1></h1>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">课程名称：<strong><%= @course.name %></strong></h3>
  </div>
  <div class="panel-body">
  	<div class="row">
  		<div class="col-sm-12">
  			<%= button_to '申请加入', course_join_path(@course), class: "btn btn-default" if @current_user != nil && (@user_course_ship == nil || @user_course_ship.status == UserCourseShip::StatusRefusee) %>
  			<%= button_to '撤销申请', course_join_path(@course), class: "btn btn-default" if @current_user != nil && @user_course_ship != nil && @user_course_ship.status == UserCourseShip::StatusWaiting %>
  			<%= button_to '退出', course_exit_path(@course), class: "btn btn-default" if @current_user != nil && @user_course_ship != nil && @user_course_ship.status == UserCourseShip::StatusPassed && @course != Course::LocalCourse && @course != Course::VJudgeCourse %>
  			<%= button_to '切换到本课程', course_choose_path(@course), class: "btn btn-default" if @current_user != nil && @user_course_ship != nil && @user_course_ship.status == UserCourseShip::StatusPassed && @current_user.current_course != @course %>
  		</div>
  	</div>
    <div class="row">
    	<div class="col-sm-1 small">创始人：</div>
    	<div class="col-sm-11"><label><%= link_to @course.user.username, user_path(@course.user) %></label></div>
    </div>
    <div class="row">
    	<div class="col-sm-1 small">创建时间：</div>
    	<div class="col-sm-11"><label><%= format_time(@course.created_at) %></label></div>
    </div>
    <div class="row">
    	<div class="col-sm-1 small">课程人数：</div>
    	<div class="col-sm-11"><label><%= @user_course_ship != nil && (@user_course_ship.status == UserCourseShip::StatusPassed || @current_user.level > User::LevelWatcher)?(link_to @course.users.size, course_user_list_path(@course)):(@course.users.size) %></label></div>
    </div>
    <div class="row">
    	<div class="col-sm-12"><%= @course.description %></div>
    </div>
  </div>
</div>
