<% content_for :head_extra do%>
	<%= javascript_include_tag 'editor' %>
<% end %>
<h1 class="text-center"><%= "##{@problem.id}. #{@problem.title}" %></h1>
<div class="panel panel-default">
  <div class="panel-body">
  	<div class="container-fluid">
  		<div class="control-group edit-tools">
  			<button id="editor-button-edit" class="btn btn-default">编辑</button>
  			<button id="editor-button-preview" class="btn btn-link">预览</button>
  		</div>
  		
			<%= form_for @problem, url: problems_edit_description_path(@problem) do |f| %>
				<fieldset>
					<div class="form-group">
						<div class="control-group">
							<article>
								<%= f.text_area :description, class: "form-control editor edit" %>
								<div id="preview" class="editor preview"></div>
							</article>
						</div>
					</div>
					<%= f.submit "确定", class: "btn btn-default" %>
					<button class="btn btn-success histroy-back">上一步</button>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>
