<div>
	<h1 class="text-center"><%= "##{@problem.id}. #{@problem.title}"%></h1>
	<small><%= @problem.problem_type.title %></small><br/>
	<small>时间限制：<%= display_friendly_time(@problem.time_limit) %> 空间限制：<%= display_friendly_memory(@problem.memory_limit) %> 提交文件大小限制：<%= display_friendly_memory(@problem.submit_limit) %> <%= link_to '编辑', problems_edit_path(@problem) if @current_user != nil && @current_user.admin %></small>
</div>
<div class="panel panel-default">
  <div class="panel-body">
  	<article>
    	<%= sanitize @problem.description %>
    </article>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#submitModal">
	提交
</button>

<%= render "submit_modal_#{@problem.problem_type.id}" %>
